#logo {
    width: 52px;
}

.center-text {
    text-align: center;
}

.mainHeading {
    margin: 25px 10px;
}

.thead-orange {
    background-color: #f4992c;
    color: #fff;
}

/* Carousel */

.carousel-item img {
    height: 70vh;
    object-fit: cover;
    object-position: 0% 55%;
}

/* Omraadet */

.img-omraadet {
    width: 94%;
    margin-right: 2em;
}

.img-omraadet-right {
    width: 94%;
    margin-left: 2em;
}

img.rounded  {
    border-radius: .5em !important;
}

.shopping {
    margin: 2em 0;
}

.section {
    margin-bottom: 1.5em;
}

/* Apartments */

.card-img-top {
    height: 240px;
}

.btn-primary {
    color: #fff !important; 
    background-color: #f4992c !important;
    border-color: #f4992c !important;
    border-radius: 7px !important;
}

